body {
  font-family: sans-serif;
  background-color: #eef2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
    background-color:#530084;
    background-image: url('../assets/image-register.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

#titulo-cadastro{
    color: #fff;
    font-size: 2.5rem;
    text-align: left;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

input {
    display: block;
    width: 100%;
    padding: 14px;
    margin: 15px 0;
    margin-right:+50px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 10px;
    margin: 10px;
    margin-left:+80px;
    border: none;
    background-color: white;
    color: #530084;
    font-size: 1.1rem;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.08);
}
