body{
    background-color: #f2e8e1;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
   
    display: flex;
    width: 50vw;
    height: 75vh;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    overflow: hidden;
    border: 1px solid black; 
}

.copyright{
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    color:blueviolet
}

/* Responsividade */
@media (max-width: 900px) {
  
  .container {
    width: 90vw;
    height: 100vh;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    background-repeat: repeat;
  }

  .copyright {
    color: black;
  }

   #titulo-login {
        font-size: 3rem; /* Título maior */
        text-align: center;
    }

    #titulo-cadastro {
        font-size: 3rem; /* Título maior */
        text-align: center;
        color:rgb(255, 138, 20);
    }


    input {
        font-size: 1.2rem; /* Texto do input maior */
        padding: 16px;
    }

    button {
        font-size: 1.2rem;
        padding: 12px;
    }
}

@media (max-width: 600px) {
  body {
    padding: 0;
  }
  .container {
    width: 100vw;
    min-height: 100vh;
    border-radius: 0;
    box-shadow: none;
    border: none;
    padding: 0;
    background-repeat:repeat;
  }
  .copyright {
    font-size: 20 px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
  }
    #titulo-login, #titulo-cadastro {
        font-size: 5rem; /* Título maior */
        text-align: center;
    }

    input {
        font-size: 1.2rem; /* Texto do input maior */
        padding: 16px;
    }

    button {
        font-size: 1.8rem;
        padding: 18px;
    }
}